@import "reset.css";
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900;1000&display=swap");

:root {
  --black: rgba(34, 34, 34, 0.95);
  --gray: rgba(161, 161, 161, 1);
  --white: rgba(250, 250, 250, 0.9);
  --test: 1px solid black;
}

body {
  font-family: "Nunito", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  width: 100%;
  min-width: 900px;
  min-height: 900px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: var(--black);
}

.screen-1,
.screen-2 {
  width: 390px;
  height: 844px;
  background-color: white;
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
  border-radius: 50px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav {
  display: flex;
  justify-content: space-between;
  width: inherit;
  padding: 45px 36px 30px;
  position: absolute;
  top: 0px;
  box-sizing: border-box;
}

.screen-1__main {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 75%;
  position: absolute;
  top: 100px;
}

.profile {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.profile__img img {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  box-shadow: 0px 0px 20px 3px rgba(204, 235, 244, 1);
  margin-bottom: 21px;
}
.profile__artist {
  font-size: 25px;
  font-weight: 900;
  color: rgba(35, 35, 35, 0.85);
  margin-bottom: 12px;
}
.profile__genre {
  font-size: 19px;
  font-weight: 700;
  color: var(--gray);
  margin-bottom: 25px;
}

.btn {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
}
.btn > div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 132px;
  height: 52px;
  border-radius: 25px;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.09);
  font-size: 18px;
  font-weight: 500;
}
.btn__shuffle {
  background-color: var(--black);
  color: var(--white);
  margin-right: 21px;
}
.btn__like i {
  margin-right: 6px;
}
.btn__like span {
  color: var(--gray);
  font-size: 17px;
}

.list {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 25px;
  box-sizing: border-box;
}
.list__element {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 11px 25px;
  border-radius: 10px;
}
.list__element:nth-child(2) {
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
}
.list__element__column:nth-child(2) {
  display: flex;
  flex-direction: column;
  width: 70%;
}
.element__img {
  width: 60px;
  height: 60px;
  border-radius: 20px;
  margin-right: 20px;
}
.element__artist {
  color: var(--gray);
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 11px;
}
.element__title {
  font-size: 19px;
  font-weight: 800;
}
.list__element__column:nth-child(3) i {
  color: var(--gray);
}
.playing {
  position: relative;
}
.playing img {
  filter: brightness(0.7);
}
.playing i {
  position: absolute;
  top: 50%;
  left: 21%;
  color: var(--white);
}

.control-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(34, 34, 34, 0.9);
  color: #fbfbfb;
  width: 350px;
  height: 88px;
  border-radius: 36px;
  position: absolute;
  bottom: 30px;
  box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.3);
}
.control-box__column {
  display: flex;
}
.control-box__column:first-child {
  flex-direction: column;
  margin-left: 30px;
}
.control-box__artist {
  font-size: 15px;
  color: rgba(190, 190, 190, 0.8);
  font-weight: 700;
  margin-bottom: 11px;
}
.control-box__title {
  font-size: 18px;
  font-weight: 700;
  color: rgba(230, 230, 230, 0.95);
}
.control-box__column:last-child {
  width: 170px;
  display: flex;
  justify-content: space-evenly;
  margin-right: 10px;
}

.screen-2 {
  display: flex;
  flex-direction: column;
}
.screen-2__main {
  margin-top: 120px;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.screen-2__cover img {
  width: 280px;
  border-radius: 35px;
  box-shadow: rgba(243, 82, 62, 0.7) 0px 25px 50px -10px,
    rgba(0, 0, 0, 0.3) 0px 15px 30px -15px;
  margin-bottom: 50px;
}
.screen-2__title {
  text-align: center;
  font-size: 40px;
  font-weight: 800;
  color: var(--black);
  margin-bottom: 15px;
}
.screen-2__artist {
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  color: var(--gray);
  margin-bottom: 55px;
}
.playback {
  width: 100%;
  padding: 0 30px;
  box-sizing: border-box;
  margin-bottom: 68px;
}
.playback__duration {
  color: rgb(200, 200, 200);
  font-size: 15px;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
}
.playback__bar input {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 6px;
  background-color: var(--black);
  background: linear-gradient(
    to right,
    rgb(34, 34, 34) 0%,
    rgb(34, 34, 34) 82%,
    rgb(225, 225, 225) 82%,
    rgb(225, 225, 225) 100%
  );
  border-radius: 10px;
}
.playback__bar input::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 12px;
  height: 12px;
  background-color: var(--black);
  cursor: pointer;
  border-radius: 50%;
}

.screen-2__control {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 30px;
  box-sizing: border-box;
}
.screen-2__control__column:nth-child(4n + 1) {
  color: rgb(200, 200, 200);
}
.screen-2__control__column:nth-child(3) {
  background-color: #222222;
  color: white;
  width: 80px;
  height: 80px;
  border-radius: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 12px 1px rgba(0, 0, 0, 0.4);
}
