@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@400;700;800;900&display=swap');
html {
  display: flex;
  justify-content: center;
  background-color: black;
}
body {
  font-family: 'Exo 2', sans-serif;
  width: 414px;
  height: 884px;
  border: 4px solid #00c6ac;
  padding: 70px 40px;
  background-color: white;
}
.nav {
  display: flex;
  justify-content: center;
  padding-bottom: 40px;
}
.nav__column {
  width: 33%;
  display: flex;
  align-items: center;
}
.nav__column:nth-child(2) {
  display: flex;
  justify-content: center;
  font-size: 30px;
  font-weight: bold;
}
.playing-music {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  height: 180px;
  margin-bottom: 40px;
}
.playing-music__img {
  width: 150px;
  height: 150px;
  border: 3px solid black;
  border-radius: 10%;
  background-color: #ffbc13;
  display: flex;
  justify-content: center;
  align-items: center;
}
.playing-music__img i {
  color: white;
}
.playing-music__text {
  width: 58%;
}
.playing-music__text__title {
  font-size: 50px;
  font-weight: bold;
}
.playing-music__text__artist {
  font-size: 20px;
  font-weight: bold;
}
.btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.btn__column {
  border: 3px solid black;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-width: 8px;
}
.btn__column:first-child {
  width: 200px;
  border-radius: 20px;
}
.btn__column__play {
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn__column__play span {
  margin-left: 11px;
  font-size: 23px;
  font-weight: bold;
}
.next-playlist {
  padding: 0;
  margin-top: 40px;
}
.next-playlist li {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100px;
  margin: 20px 0;
}
.next-playlist__img {
  width: 70px;
  height: 70px;
  border: 3px solid black;
  border-radius: 20%;
}
.next-playlist li:nth-child(1) .next-playlist__img {
  background-color: #f85a2b;
}
.next-playlist li:nth-child(2) .next-playlist__img {
  background-color: #ff89bc;
}
.next-playlist li:nth-child(3) .next-playlist__img {
  background-color: #1947e5;
}
.next-playlist li:nth-child(4) .next-playlist__img {
  background-color: #00c6ac;
}
.next-playlist__text {
  display: flex;
  flex-direction: column;
}
.next-playlist__text div {
  display: flex;
  align-items: center;
  padding-left: 15px;
}
.next-playlist__text__title {
  height: 30px;
  font-size: 25px;
  font-weight: bold;
}
.next-playlist__text__artist {
  height: 30px;
  font-size: 18px;
  color: #676974;
}
